.news {
  padding: 20px;
  background-color: $very-dark-blue;
  color: $off-white;
  display: grid;

  &:nth-child(3) {
    gap: 1.5rem;
  }

  &__section-title {
    margin-bottom: 0;
    font-size: 2rem;
    color: $soft-orange;
  }

  @import './news-content-section';
}
